<!-- # carts#show
  - カート詳細画面
  - 現在カートに入っている商品一覧（なければ空っぽの表示）をだす
  - 商品が入っている場合は、個数の変更（carts#update_item）、及び商品の取り消し(cart_item)ができるようにする。
  - 合計金額、お支払いボタンがあるとなおいいかも（今回は説明していない） -->
<!-- ==============================
  carts/show.html.erbファイル
============================== -->
  <!-- -# メインコンテント -->
  <div class="wrapper wCommon">
    <div class="inner">
      <article>
        <div class="singleColumn cf inner2">
          <!-- -# パンくずリスト -->
          <%= render "common/pankuzu" %>
          <!-- -# パンくずリスト  @end-->
          <!-- 現在カートに入っている商品一覧（なければ空っぽの表示） -->
            <p><%= @cart_item.quantity %></p>
            <p>aaaaaaaaaaaaaaaa</p>


      </article>
    </div>
  </div>
  </div>
