// ===========================================
// commonHeader  ヘッダー
// ==========================================
.commonHead{
  border-bottom: 1px solid  #444;
}

.commonHead{
  width: 100%;
}
.head{
  &Inner{
    position: relative;
    height: 60px;
  }
  &UlR{
    position: absolute;
    top: 28px;
    right: 20px;
  }

  &UlL{
    position: absolute;
    top: 28px;
    left: 20px;
  }
  &h1{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
    padding-top: 20px;
  }
  &Li{
    float: left;
    margin-right: 10px;
  }
  // &Li:last-child{
  //   margin-right: 0;
  // }
}


// ================================
// homes / index.html
// ================================
// <!-- コンテンツヘッダー -->
.Wrapper {
    width: 100%;
  }
.h{
  &mainHead{
    width: 100%;
    height: 60px;
    background: #222222;
    border-bottom:1px solid #9e9e9e63;
  }

}

// ヘッダー検索
.h{
  &ItemSearch {
    margin-top: 12px;
    float: left;
  }
  &ItemSearch > form {
    float: left;
    margin: 0 12px 0 0;
  }
  &Keyword {
    margin: 0 -2px 0 0;
    float: left;
  }
  &Submit {
    margin: 0 0 0 0;
    width: 27px;
    height: 27px;
    zoom: 1;
    float: left;
  }
}

.hBtn {
    color: #fff;
    text-align: center;
    border-radius: 0 2px 2px 0;
    background: #dcdcdc;
    cursor: pointer;
}
.hKeyword{
  input[type="text"] {
      border: 1px solid #c8c8c8;
      border-radius: 2px;
      padding:4.5px 7px;
    }

}
.searchQuery{
  margin-top: 5px;
}

// ヘッダーアイコン
.h{
  &Ctrl {
    margin:0 auto;
    line-height: 1.615384615;
    z-index: 1;
    .fas,.fa,.far{
      font-size: 28px;
    }
  }
  &Submit{
    margin-top: 5px;
    height: 26px;
    width: 25px;
    cursor: pointer;
    text-align: center;
    background: #dcdcdc;
  }
  &Name {
    padding: 16px 26px 14px;
    display: inline-block;
    color: #fff;
  }
  &CtrlList {
    width: 311px;
    margin: 0 auto;

    li {
      text-shadow: 1.5px 2px 1px rgba(255, 255, 255,0.2);
      float: left;
      line-height: 60px;
      padding-right: 30px;
      &:last-child{
        padding-right: 0;
      }
    a{
      color: #fff;
    }
    }
  }
}
