<!-- # products#index
  - 商品一覧。
  - それぞれの商品に「購入数入力欄」と「決定ボタン」とを作る。
  - ボタンを押すとcarts#add_itemへとPOSTアクションを飛ばし、購入数と商品IDを飛ばしたあと、carts#showへとリダイレクトするようにする。 -->
  <div id="goodsRight">
  <!-- -# カート関連 -->
    <div class="cartBlock clearfix cf">

      <%= render "products/form" %>
      
    </div>
  <!-- -# カート関連 @end -->
    </div>
  </div>
