<!-- <div id="goodMainArea" class="cf"> -->
  <div id="goodsLeft2">
    <div id="innerLeft">
      <div id="photoGallery">
        <div id="photoMain2" class="hasZoom">
          <%= image_tag @product.image %>
        </div>
        <p id="photoCaption">身長165cm/Mサイズ着用</p>
      </div>
    </div>
  </div>
  <!-- -# 小さいギャラリー -->
    <!-- <ul id="photoThimb" class="cf"> -->
      <!-- - @product.stocks.each do |stock|
          - if stock.image.size_id >= 0 -->
      <!-- <li class="current cf">
        <div id="div_0">
          <span id="goodsdiv_0" class="cf"> -->
            <!-- = image_tag stock.image.image -->
          <!-- </span>
          <p> -->
            <!-- = stock.color -->
          <!-- </p>
        </div>
      </li>
    </ul> -->
<!-- -# 小さいギャラリー　@end -->
<!-- </div> -->
<!-- </div> d="goodMainArea @end-->
<!-- </div> -->
