<!-- -# パンくずリスト -->
<div id="headNavi">
  <nav id="breadCrumb">
    <ul class="cf">
      <li>
        <a href="">CartBuy
          <%= image_tag 'ico_pankuzu.png' %>
        </a>
        <a href="">MONO-MART
          <%= image_tag 'ico_pankuzu.png' %>
        </a>
        <a href="">メンズ
          <!-- <%= image_tag 'ico_pankuzu.png' %> -->
        </a>
        <!-- <a href="">
          <%= image_tag 'ico_pankuzu.png' %>
        </a> -->
      </li>
    </ul>
  </nav>
</div>
